<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - authentication_authorization</title>
    
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/prod.min.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-href-include="css/prod.min.css"/>
    </environment>
</head>
<body>
 <div class="container">

     <div class="row">
         <div class="col-md-2">
             <img asp-append-version="true" src="~/img/logo.png" style="max-width:100%" alt="logo">
         </div>
         <div class="col-md-10 titlecol">
             <span class="title"> @ViewBag.Title</span>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
             @RenderBody()
         </div>
     </div>
 </div>

</body>
</html>
